[Unit]
Description=Timer for base.service

[Timer]
OnBootSec=1min
OnCalendar=*-*-* 04:00:00
RandomizedDelaySec=30
Unit=base.service

[Install]
WantedBy=multi-user.target
