[Unit]
Description = base service unit file
After = local-fs.target

[Service]
Type = oneshot
WorkingDirectory = /opt/
ExecStart = /opt/bin/execute.sh
# RemainAfterExit = yes

[Install]
WantedBy = multi-user.target
